/* PortfolioCard.css */

.portfolio-card {
    width: 500px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .portfolio-card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
    background-color: #161A1D;
  }
  
  .card-content h3 {
    margin-bottom: 8px;
    color: white; /* Set the text color */
  }
  
  .card-content p {
    color: #C7D1DB;
  }
  