/* Skills.css */
.skills-section {
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-categories {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px; /* Set a maximum width for the container if needed */
    margin: 0 auto; /* Center the container horizontally */
}

.skills-category {
    flex: 1;
    min-width: 250px;
    margin: 1rem;
    padding: 1.5rem;
    background: linear-gradient(to bottom, #101214, #1C2B41); /* Linear gradient background */
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.skills-category:hover {
    transform: scale(1.05);
}

.skills-category h3 {
    font-size: 1.5rem;
    font-weight: 700; /* Increase font weight for the title */
    margin-bottom: 0.5rem;
    color: #3498db; /* Change color for the title */
    border-bottom: 2px solid #3498db; /* Add a solid line underneath the title */
}

.skills-category i {
    font-size: 1.5em; /* Adjust the size of the icons */
    margin-right: 5px; /* Add some spacing between the icon and text */
    vertical-align: middle;
    position: relative;
    top: -1px; /* Adjust this value until the icon is perfectly centered */
}

.skills-category ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: space-between; /* Space items evenly along the main axis */
}

.skills-category li {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    flex-basis: calc(33.33% - 10px); /* Distribute items evenly with some spacing */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .skills-categories {
      flex-direction: column; /* Stack categories vertically on smaller screens */
      align-items: center; /* Center categories on smaller screens */
    }
  
    .skills-category {
      width: 80%; /* Adjust width for better responsiveness on smaller screens */
      margin: 1rem auto; /* Center categories horizontally on smaller screens */
    }
  
    .skills-category ul {
      justify-content: center; /* Center items within each category on smaller screens */
    }
  
    .skills-category li {
      flex-basis: calc(50% - 10px); /* Distribute items evenly with some spacing on smaller screens */
    }
  }